<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>赵大洪</string>
    <string>刘少波</string>
    <string>李方正</string>
    <string>尹邦国</string>
    <string>陈宏飞</string>
    <string>郭志昊</string>
    <string>刘钟博</string>
    <string>尚牧杰</string>
    <string>田逸昕</string>
    <string>董淑媛</string>
    <string>葛鹭</string>
    <string>石可</string>
    <string>周航</string>
    <string>赵超</string>
    <string>郝翔宇</string>
    <string>王一丹</string>
    <string>郑慧</string>
    <string>刁可</string>
    <string>刘冰倩</string>
    <string>姚晓璐</string>
    <string>肖敏</string>
    <string>肖珏</string>
    <string>陈志鹏</string>
    <string>刘怡静</string>
    <string>冯文翰</string>
    <string>李明明</string>
    <string>牟姿旭</string>
    <string>朱明航</string>
    <string>胡林凯</string>
    <string>刘行</string>
    <string>俞明飞</string>
    <string>王崎璇</string>
    <string>曾佳进</string>
    <string>陈嘉</string>
    <string>张雨帆</string>
    <string>杨思航</string>
    <string>马玉杨</string>
    <string>吴明羽</string>
    <string>魏可仪</string>
    <string>沈楷</string>
    <string>周宏俊</string>
    <string>郭煜典</string>
    <string>张汝</string>
    <string>衣春腾</string>
    <string>龙波</string>
    <string>李星星</string>
    <string>常佳鑫</string>
    <string>周莲</string>
    <string>周潜</string>
    <string>周永逸</string>
    <string>石泽昆</string>
    <string>刘思铭</string>
    <string>王浩旭</string>
    <string>夏宇航</string>
    <string>杨天舒</string>
    <string>司若愚</string>
    <string>杨肇欣</string>
    <string>彭中园</string>
    <string>秦英然</string>
    <string>彭泽人</string>
    <string>吕若凡</string>
    <string>陈珞亨</string>
    <string>杨子恒</string>
    <string>于萨迪</string>
    <string>钟康哲</string>
    <string>陈晓恒</string>
    <string>侯云</string>
    <string>金兆鹏</string>
    <string>张丰基</string>
    <string>孙文祥</string>
    <string>朱泽齐</string>
    <string>王润泽</string>
    <string>黄卜江</string>
    <string>刘宇</string>
    <string>曾誉</string>
    <string>韦克桥</string>
    <string>陈雨红</string>
    <string>严馨月</string>
    <string>周礼林</string>
    <string>张一舟</string>
    <string>周旭鹏</string>
    <string>刘一泽</string>
    <string>吴笛</string>
    <string>王亮</string>
    <string>陈志漂</string>
    <string>勾雨桐</string>
    <string>彭英杰</string>
    <string>曾志昊</string>
    <string>余冠达</string>
    <string>郭宇航</string>
    <string>吴勇</string>
    <string>郭俊达</string>
    <string>许朗铭</string>
    <string>陈朔怡</string>
    <string>玉波妮</string>
    <string>高战立</string>
    <string>童芳芳</string>
    <string>罗元春</string>
    <string>雷啸</string>
    <string>张逸凡</string>
    <string>鲁安康</string>
    <string>屠闻哲</string>
    <string>丁宁</string>
    <string>陶国伟</string>
    <string>陈开国</string>
    <string>陈羽如</string>
    <string>苏韫祺</string>
    <string>郑智伟</string>
    <string>汪萌</string>
    <string>顾宇凡</string>
    <string>陈俊垚</string>
    <string>王泽生</string>
    <string>王泽煜</string>
    <string>黄帅</string>
    <string>何万才</string>
    <string>冯芷菁</string>
    <string>董瑞祥</string>
    <string>洪涛</string>
    <string>李彩彬</string>
    <string>戢启瑞</string>
    <string>覃明月</string>
    <string>卢羽帆</string>
    <string>毛云麟</string>
    <string>罗粤发</string>
    <string>刘晓林</string>
    <string>万宇</string>
    <string>李佩芳</string>
    <string>蒋星宇</string>
    <string>张嘉吉</string>
    <string>韩林峰</string>
    <string>黄家兴</string>
    <string>毕修平</string>
    <string>周梓浩</string>
    <string>张耀君</string>
</array>
</plist>
