<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PinchMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB543AAD228CE61E007DC524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB543AC1228CE621007DC524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB543ACC228CE622007DC524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
