<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBED7F3822B6A9FB00A29DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBED7F4C22B6AA0000A29DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBED7F5722B6AA0100A29DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
