<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableCells.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB5E93D6228E45760092C2D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5E93EA228E45790092C2D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5E93F5228E457A0092C2D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
